// Global
$main-font-family: 'Open Sans', sans-serif;
$main-font-size: 14px;
$main-text-color: #333333;
$main-border-color: black;
$main-background-color: white;
$danger-color: red;
$success-color: green;

$header-color: #d90617;
$header-font-family: 'Montserrat', sans-serif;
$required-field: #ff0000;

// controls
$control-title-font-family: 'Montserrat', sans-serif;

// Inputs
$input-border-color: #e5e5ea;
$input-highlight-color: white;

// buttons
$button-background-color: #f7f7fa;
$button-color: gray;
$button-border: 1px solid #e5e5ea;
$button-font-family: 'Montserrat', sans-serif;

// Header
$avatar-background-color: maroon;
$avatar-foreground-color: white;

// PageHeader
$pageheader-background-color: #efefef;
$pageheader-title-color: black;
$pageheader-title-font-family: 'Montserrat', sans-serif;
$pageheader-title-font-size: 14px;
$pageheader-control-font-family: 'Montserrat', sans-serif;
$pageheader-control-font-size: 14px;

// Footer
$footer-top-border-color: darkgray;
$footer-background-color: #3b3b3b;
$footer-text-color: #aaaaaa;
$footer-font-family: 'Carrois Gothic SC', sans-serif;
$footer-header-font-size: 14px;
$footer-links-header-color: white;
$footer-link-font-size: 14px;
$footer-powered-by-background-color: rgba(14, 14, 14, 1);
$footer-powered-by-background-gradient-color: rgba(125, 126, 125, 1);
$footer-powered-by-ms-gradient-start: #7d7e7d;
$footer-powered-by-ms-gradient-end: #0e0e0e;
$footer-copyright-text-color: white;
$footer-copyright-text-size: 10px;

// FAQ
$faq-font-size: 16px;
$faq-question-font-size: 24px;
$faq-title-font-size: 36px;

// Terms
$terms-font-size: 16px;
$terms-question-font-size: 24px;
$terms-title-font-size: 36px;

// Contact
$contact-title-font-size: 36px;
$contact-font-size: 16px;
$contact-response-font-size: 18px;

// Artist
$redirect-box-background-color: white;
$redirect-box-border-color: #fb515f;

// Artist Box
$artist-box-header-color: #000000;
$artist-box-icon-color: #333333;
$artist-box-icon-hover-color: white;
$artist-box-website-hover-color: #333333;
$artist-box-twitter-hover-color: #33ccff;
$artist-box-facebook-hover-color: #3b5998;
$artist-box-youtube-hover-color: #e62117;
$artist-box-spotify-hover-color: #00db4d;
$artist-box-instagram-hover-background: -webkit-radial-gradient(
  50px 220px,
  #ffda75 18%,
  #ff3a49 43%,
  #ff3a49 50%,
  #e518a1 70%,
  #6634e1 100%
);

// Event Row
$event-row-header-color: #d90617;
$event-row-text-color: black;
$event-row-text-color-dark: white;
$event-row-icon-color: black;
$event-row-icon-color-dark: white;
$event-row-separator-color: #dddddd;
$event-row-h3-font-size: 24px;
$event-row-h3-font-size-mobile: 20px;
$event-row-h4-font-size: 18px;
$event-row-h4-font-size-mobile: 16px;
$event-row-h5-font-size: 16px;
$event-row-h5-font-size-mobile: 14px;
$event-row-thumb-max-width: 100px;
$event-row-tab-font-family: 'Calibri', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$event-row-tab-font-size: 18px;
$event-row-tab-font-color: white;
$event-row-tab-background-color: #d90617;
$event-row-tab-border-color: white;
$event-row-tab-no-link-text-color: darkgray;
$event-row-tab-no-link-border-color: darkgray;
$event-row-tab-no-link-background-color: lightgray;
$event-row-tab-text-hover-color: lightgrey;
$event-row-tab-border-hover-color: lightgrey;
$event-row-tab-background-hover-color: darkgray;
