// Global
$main-font-family: 'Open Sans', sans-serif;
$main-font-size: 14px;
$main-text-color: #333333;
$main-border-color: black;
$main-background-color: white;
$danger-color: red;
$success-color: green;

$header-color: #d90617;
$header-font-family: 'Montserrat', sans-serif;
$required-field: #ff0000;

// controls
$control-title-font-family: 'Montserrat', sans-serif;

// Inputs
$input-border-color: #e5e5ea;
$input-highlight-color: white;

// buttons
$button-background-color: #f7f7fa;
$button-color: gray;
$button-border: 1px solid #e5e5ea;
$button-font-family: 'Montserrat', sans-serif;

// Header
$avatar-background-color: maroon;
$avatar-foreground-color: white;

// PageHeader
$pageheader-background-color: #efefef;
$pageheader-title-color: black;
$pageheader-title-font-family: 'Montserrat', sans-serif;
$pageheader-title-font-size: 14px;
$pageheader-control-font-family: 'Montserrat', sans-serif;
$pageheader-control-font-size: 14px;

// Footer
$footer-top-border-color: darkgray;
$footer-background-color: #3b3b3b;
$footer-text-color: #aaaaaa;
$footer-font-family: 'Carrois Gothic SC', sans-serif;
$footer-header-font-size: 14px;
$footer-links-header-color: white;
$footer-link-font-size: 14px;
$footer-powered-by-background-color: rgba(14, 14, 14, 1);
$footer-powered-by-background-gradient-color: rgba(125, 126, 125, 1);
$footer-powered-by-ms-gradient-start: #7d7e7d;
$footer-powered-by-ms-gradient-end: #0e0e0e;
$footer-copyright-text-color: white;
$footer-copyright-text-size: 10px;

// Contact
$contact-title-font-size: 36px;
$contact-font-size: 16px;
$contact-response-font-size: 18px;

// Dashboard
$dashboard-header-color: black;
