@use 'variables' as v;

.frame {
  .rs-sidebar {
    background: #fff;
  }
  .rs-sidenav {
    flex: 1 1 auto;
    transition: none !important;
    border-top: 1px solid v.$main-border-color;
    width: 100%;
  }

  .rs-content {
    padding: 0 10px;

    .rs-panel-header {
      .title {
        font-size: 18px;
      }
      .rs-breadcrumb {
        margin-bottom: 0;
      }
    }
  }
  .nav-toggle {
    border-top: 1px solid v.$main-border-color;
  }

  .rs-sidenav-item,
  .rs-dropdown-item {
    &.active {
      color: v.$header-color !important;
    }
    &-icon {
      height: 1.3em !important;
      width: 1.3em !important;
    }
  }

  .rs-navbar-default {
    background-color: unset !important;
  }
}

/* Mobile-first */
.desktop-sidebar {
  display: none;
}

.mobile-nav {
  display: flex;
  height: fit-content;
}

.frame {
  flex-direction: column !important;
}

/* Desktop breakpoint */
@media (min-width: 768px) {
  .frame {
    height: 100vh;
    flex-direction: row !important;
  }
  .desktop-sidebar {
    display: block;
  }

  .mobile-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .rs-navbar-brand {
    padding: 0 10px;
    height: 45px;
  }
}

.drawer-nav-animate {
  animation: fadeSlideIn 0.18s ease-out;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(-6px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
