@use 'variables' as v;

.results-container {
  display: flex;
  padding: 15px 15px 15px 5px;
}

.results-col {
  width: 100%;
}

.resultsTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid v.$table-main-border-color;
  margin: 15px 0 0 5px;
}

.resultsTable th {
  background-color: v.$table-header-background-color;
  font-weight: bold;
  font-family: v.$control-title-font-family;
  text-transform: uppercase;
}

.resultsTable th,
.resultsTable td {
  border: 1px solid v.$table-main-border-color;
  padding: 5px;
  font-size: 13px;
}

.resultsTable th.center {
  text-align: center;
}

.resultsTable td.pull-right {
  float: unset;
  text-align: right;
}

.resultsTable div.pull-right {
  text-align: right;
}

.vipDetailsTable {
  max-width: 576px;
  margin: 10px 0 10px 15px;
}

.vipDetailsTable tr {
  vertical-align: top;
}

.vipDetailsTable td {
  padding: 5px 10px;
}

.vipDetailsTable .vipLabel {
  min-width: 175px;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  font-family: v.$control-title-font-family;
}

.vipTitle {
  font-weight: bold;
}

.vipTitle .sold-out {
  color: v.$table-sold-out-color;
}

.vipTable-container {
  padding: 15px;
}

.vipTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid v.$table-main-border-color;
}

.vipTable tr {
  vertical-align: top;
}

.vipTable th,
.vipTable td {
  border: 1px solid v.$table-main-border-color;
  padding: 5px;
  font-size: 13px;
}

.vipTable th {
  background-color: v.$table-header-background-color;
  font-weight: bold;
  font-family: v.$control-title-font-family;
  text-transform: uppercase;
}

.vipTable .inactive {
  color: v.$table-inactive-color;
}

.vipTable .hidden,
.vipTable .active-pending {
  color: v.$table-hidden-color;
}

.vipTable .deleted {
  color: v.$table-deleted-color;
  font-weight: bold;
}

.vipTable .refunded {
  color: v.$table-refunded-color;
  font-weight: bold;
}

.resultsTable tr:nth-child(even),
.vipTable tr:nth-child(even) {
  background-color: v.$table-alt-row-background-color;
}

.resultsTable tr:hover,
.vipTable tr:hover {
  background-color: v.$table-row-hover-color;
}

.resultsTable tr.event-inactive {
  color: v.$table-inactive-color !important;
  font-weight: bold;
}

.resultsTable tr.event-sold-out {
  color: v.$table-sold-out-color !important;
  font-weight: bold;
}

.resultsTable tr.event-hidden,
.resultsTable tr.event-hidden a {
  color: v.$table-hidden-color !important;
  font-weight: bold;
}

.resultsTable tr.event-active-pending,
.resultsTable tr.event-active-pending a {
  color: v.$table-hidden-color !important;
  font-weight: bold;
}

.resultsTable tr.event-deleted {
  color: v.$table-deleted-color !important;
  font-weight: bold;
}

.resultsTable tr.event-cancelled {
  color: v.$table-canceled-color !important;
  font-weight: bold;
}

.resultsTable thead,
.resultsTable tfoot {
  font-weight: bold;
}

.resultsTable tfoot div {
  padding: 5px;
}

.resultsTable a,
.vipTable a {
  cursor: pointer;
  text-decoration: underline !important;
}

.resultsTable a:hover,
.vipTable a:hover {
  color: v.$table-link-hover-color !important;
  text-decoration: none !important;
}

@media (max-width: 992px) {
  .vipTable .email {
    word-break: break-all;
  }
}

@media (max-width: 768px) {
  .resultsTable {
    max-width: 100%;
  }

  .resultsTable th,
  .resultsTable td {
    padding: 2px;
  }

  .vipDetailsTable {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .results-container {
    margin: 0;
    padding: 10px;
  }

  .resultsTable {
    margin: 0;
  }

  .vipDetailsTable {
    max-width: 100%;
    margin: 10px 0;
  }

  .vipDetailsTable td {
    white-space: unset;
  }

  .vipDetailsTable .vipLabel {
    white-space: nowrap;
  }

  .vipTable-container {
    padding: 0 15px 0 5px;
  }

  .vipTable {
    margin: 0 5px;
  }

  .resultsTable,
  .resultsTable tbody,
  .resultsTable th,
  .resultsTable td,
  .vipTable,
  .vipTable tbody,
  .vipTable th,
  .vipTable td {
    border: unset;
  }

  .resultsTable th,
  .resultsTable td,
  .vipTable th,
  .vipTable td {
    padding: 5px 0;
  }

  .resultsTable tr:nth-child(even),
  .vipTable tr:nth-child(even) {
    background-color: unset;
  }

  .resultsTable tr:hover,
  .vipTable tr:hover {
    background-color: unset;
  }

  .resultsTable .mobile-event-card-container:nth-child(even),
  .vipTable .mobile-event-card-container:nth-child(even) {
    .mobile-event-card {
      background-color: v.$table-alt-row-background-color !important;
    }
  }
}

@media (max-width: 576px) {
  .results-container {
    padding-left: 5px;
  }

  .results-col {
    padding: 0;
  }
}
