html,
body {
  font: 14px "Open Sans", sans-serif;
  min-height: 100vh;  
}

* {
  box-sizing: border-box;
}

.btn {
  white-space: nowrap;
}

.danger {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}

.wrapper {
  width: 720px;
  padding: 20px;
}

.wrapper a {
  cursor: pointer;
}

.form-group {
  margin: 10px 0;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-check-input[type=checkbox] {
  margin-right: 5px;
}

.wrapper button {
  margin: 0 10px 0 0;
}

.wrapper input, .wrapper select, .wrapper textarea {
  width: 100%;
}

.page-header {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: none;
  padding: 5px 20px;
  margin: 0 0 15px 0;
  border: 0px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #EFEFEF;
}

.nav-header {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: none;
  padding: 0 20px;
  margin: 15px 10px 0 0;
  border: 0px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}


.page-header .title-container {
  vertical-align: middle;
  line-height: 36px;
}

.page-header .title {
  margin: auto;
  text-transform: uppercase;
}

.control-container {
  text-align: right;
}

.control-container .action-button {
  float: right;
  margin: auto 10px;
  cursor: pointer;
  color: black;
}

.date-range-title, .seller-title 
{
  margin-right: 10px;
}

.inactive-check div, .deleted-check div, .revenue-check div {
  margin-left: 20px;
  display: inline;
}

.admin-button {
  display: inline-block;
  margin: 10px 5px 10px 0;
}

.spinner-container {
  display: flex;
  justify-content: space-around;
  padding-top: 33vh;
}

.stat-block {
  padding: 10px;
  margin: 15px;
  background-color: #EFEFEF;
  border: 1px solid #dedede;
  border-radius: 4px;
  line-height: 14px;
  height: 100%;
  min-height: 285px;
  display: table;
}

.stat-block svg {
  display: block;
  margin: 0 5px 0 0;
}

.stat-block div {
  white-space: nowrap;
  margin: 15px 0;
}

.stat-block div.second {
  margin-top: 25px;
}

.stat-block span {
  display: table;
  font-weight: bold;
}

.stat-block .totalSpan {
  margin-top: 15px;
}

.resultsTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  margin: 15px 0 0 5px;
}

.resultsTable th,
.resultsTable td {
  border: 1px solid black;
  padding: 5px;
}

.resultsTable th.center {
  text-align: center;
}

.resultsTable td.pull-right {
  float: unset;
  text-align: right;
}

.resultsTable tr.event-inactive {
  color: red;
}

.resultsTable tr.event-deleted {
  color: maroon;
  font-weight: bold;
}

.resultsTable thead, .resultsTable tfoot {
  font-weight: bold;
}

.resultsTable a, .vipTable a {
  cursor: pointer;
  text-decoration: underline !important;
}

.resultsTable a:hover, .vipTable a:hover {
  color: blue !important;
  text-decoration: none !important;
}

.chartColumn {
  padding: 10px 0 10px 25px;
}

.no-events {
  width: 100;
  text-align: center;
  font-size: 24px;
  padding-top: 25px;
}

.vipContainer {
  margin: 0;
  padding: 0 25px;
}

.vipDetailsTable {
  max-width: 360px;
  margin-bottom: 10px;
}

.vipDetailsTable tr {
  vertical-align: top;
}

.vipDetailsTable td {
  padding: 5px 10px;
  white-space: nowrap;
}

.vipDetailsTable .vipLabel {
  font-weight: bold;
  text-align: left;  
}

.vipTitle {
  font-weight: bold;
}

.chart-total {
  margin-top: 5px;
  width: 425px;
  text-align: center;
}

.vipTable {
  margin: 25px 5px;
  width: 99%;
  border-collapse: collapse;
  border: 1px solid black;
}

.vipTable tr {
  vertical-align: top;
}

.vipTable th,
.vipTable td {
  border: 1px solid black;
  padding: 5px;
}

.vipTable th {
  background-color: lightgray;
  font-weight: bold;
}

.vipTable .inactive {
  color: red;
}

.vipTable .deleted {
  color: maroon;
  font-weight: bold;
}

.vipTable .refunded {
  color: blueviolet;
  font-weight: bold;
}

.custom-tooltip {
  border-radius: 5px;
  border: 2px solid red;
  background-color: white;
  padding: 10px;
}

.custom-tooltip .label {
  color: black;
  font-weight: bold;
}

@media (max-width: 768px) {
  .wrapper {
    width: 368px;
  }
}

@media (max-width: 576px) {
  .no-mobile {
    display: none;
  }
}

@media print {
  .no-print, .rs-nav-item, .rs-nav-bar   {
    display: none !important;
  }
}
