html,
body {
  font:
    14px 'Open Sans',
    sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

div hidden {
  display: none;
}

select,
input[type='text'],
input[type='password'],
input[type='number'] {
  margin: 10px 5px;
  padding: 7px;
  min-width: 220px;
  border-radius: 6px;
  border: 1px lightgray solid;
}

input::placeholder, textarea::placeholder {
  color: lightgray;
  font-style: italic;
}

input[type='checkbox'] {
  border-radius: 6px;
  border: 1px lightgray solid;
}

select:hover,
input[type='text']:hover,
input[type='password']:hover,
input[type='checkbox']:hover,
input[type='number']:hover {
  border-color: #3498ff;
}

.btn {
  white-space: nowrap;
}

.danger {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}

.message {
  color: green;
  font-weight: bold;
  text-align: center;
  margin: 0 0 15px 0;
}

.wrapper {
  width: 720px;
  padding: 20px;
}

.wrapper a {
  cursor: pointer;
}

.form-group {
  margin: 10px 0;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-check-input[type='checkbox'] {
  margin-right: 5px;
}

.wrapper button {
  margin: 0 10px 0 0;
}

.wrapper input,
.wrapper select,
.wrapper textarea {
  width: 100%;
}

.nav-bar {
  margin: 0;
  padding: 0 10px;
}

.nav-bar .logo-col {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.login-logo-container {
  width: 100%;
  margin: 0;
  padding: 0 0 15px 0;
  text-align: center;
}

.login-logo {
  margin: 0 auto;
}

.login-title-container {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.tab-container {
  padding: 0;
}

.page-header {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: none;
  padding: 5px 15px 5px 2px;
  margin: 0 0 15px 0;
  border: 0px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #efefef;
  width: 100%;
}

.nav-header {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: none;
  padding: 0 20px;
  margin: 15px 10px 0 0;
  border: 0px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.nav-bar-icon-image {
  margin: 10px 0 10px 15px;
}

.page-header .title-container {
  vertical-align: middle;
  line-height: 36px;
}

.page-header .title {
  margin: auto;
  text-transform: uppercase;
}

.control-container {
  text-align: right;
  padding: 0;
}

.control-container .action-button {
  float: right;
  margin: auto 10px;
  cursor: pointer;
  color: black;
}

.admin-tabs {
  width: 100%;
  gap: 0 !important;
}

.admin-seller-row {
  margin: 0 0 10px 0;
}

.admin-check-row {
  margin: 5px 0;
}

.admin-button-row {
  margin: 0 0 10px 10px;
}

.date-range-title {
  margin-right: 10px;
}

.seller-title {
  margin: 0 15px;
}

.admin-filter-row {
  margin: 15px 0;
}

.inactive-check,
.deleted-check,
.hidden-check,
.revenue-check,
.service-fees-check,
.admin-filter-check {
  margin: 0 0 0 20px;
  float: left;
  width: 160px;
  white-space: nowrap;
}

.inactive-check div,
.deleted-check div,
.hidden-check div,
.revenue-check div,
.service-fees-check div,
.admin-filter-check div {
  float: left;
}

.inactive-check .form-check-input,
.deleted-check .form-check-input,
.hidden-check .form-check-input,
.revenue-check .form-check-input,
.service-fees-check .form-check-input,
.admin-filter-check .form-check-input {
  margin-right: 10px;
}

.admin-button-row button {
  width: 165px;
  margin: 10px;
}

.spinner-container {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.widget-row {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}

.stat-block-container {
  padding: 15px;
  min-height: 265px;
  min-width: 265px;
}

.stat-block {
  padding: 15px;
  background-color: #efefef;
  border: 1px solid #dedede;
  border-radius: 4px;
  line-height: 14px;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.stat-block svg {
  display: block;
  margin: 0 5px 10px 0;
}

.stat-block div {
  margin-bottom: 5px;
}

.stat-block div.second {
  margin-top: 25px;
}

.stat-block span {
  margin-top: 15px;
  display: table;
  font-weight: bold;
}

.stat-block .totalSpan {
  margin-top: 15px;
}

.results-container {
  padding: 15px 15px 15px 5px;
}

.resultsTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  margin: 15px 0 0 5px;
}

.resultsTable th {
  background-color: lightgray;
  font-weight: bold;
}

.resultsTable th,
.resultsTable td {
  border: 1px solid black;
  padding: 5px;
}

.resultsTable th.center {
  text-align: center;
}

.resultsTable td.pull-right {
  float: unset;
  text-align: right;
}

.resultsTable div.pull-right {
  text-align: right;
}

.resultsTable tr:nth-child(even),
.vipTable tr:nth-child(even) {
  background-color: #efefef;
}

.resultsTable tr:hover,
.vipTable tr:hover {
  background-color: lightgray;
}

.resultsTable tr.event-inactive {
  color: red !important;
  font-weight: bold;
}

.resultsTable tr.event-hidden,
.resultsTable tr.event-hidden a {
  color: orange !important;
  font-weight: bold;
}

.resultsTable tr.event-deleted {
  color: rgb(100, 100, 100) !important;
  font-weight: bold;
}

.resultsTable tr.event-cancelled {
  color: rgb(0, 128, 255) !important;
  font-weight: bold;
}

.resultsTable thead,
.resultsTable tfoot {
  font-weight: bold;
}

.resultsTable tfoot div {
  padding: 5px;
}

.resultsTable a,
.vipTable a {
  cursor: pointer;
  text-decoration: underline !important;
}

.resultsTable a:hover,
.vipTable a:hover {
  color: blue !important;
  text-decoration: none !important;
}

.chartColumn {
  padding: 10px 0 10px 25px;
}

.no-events {
  width: 100%;
  text-align: center;
  font-size: 24px;
  padding-top: 25px;
}

.vipContainer {
  margin: 0;
  padding: 10px;
}

.vipDetailsTable {
  max-width: 576px;
  margin: 10px 0 10px 15px;
}

.vipDetailsTable tr {
  vertical-align: top;
}

.vipDetailsTable td {
  padding: 5px 10px;
  white-space: nowrap;
}

.vipDetailsTable .vipLabel {
  font-weight: bold;
  text-align: left;
}

.vipTitle {
  font-weight: bold;
}

.chart-total {
  margin-top: 5px;
  width: 425px;
  text-align: center;
}

.vipTable-container {
  padding: 15px;
}

.vipTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

.vipTable tr {
  vertical-align: top;
}

.vipTable th,
.vipTable td {
  border: 1px solid black;
  padding: 5px;
}

.vipTable th {
  background-color: lightgray;
  font-weight: bold;
}

.vipTable .inactive {
  color: red;
}

.vipTable .hidden {
  color: orange;
}

.vipTable .deleted {
  color: rgb(100, 100, 100);
  font-weight: bold;
}

.vipTable .refunded {
  color: blueviolet;
  font-weight: bold;
}

.purchase-date {
  display: table-cell;
}

.custom-tooltip {
  border-radius: 5px;
  border: 2px solid red;
  background-color: white;
  padding: 10px;
}

.custom-tooltip .label {
  color: black;
  font-weight: bold;
}

.attendee-row-action {
  min-width: 25px;
  max-width: 35px;
  text-align: center;
  padding: 0 !important;
  cursor: pointer;
}

.attendee-row-action div {
  margin: 0 auto;
}

.attendee-row-action-header {
  text-align: center;
}

.comped-tickets {
  min-width: unset !important;
  width: 50px;
}

.comp-button {
  margin-left: 15px;
}

.log-table {
  margin: 10px;
}

.all-events-buttons {
  text-align: right;
  margin: 0 0 15px 0;
  padding: 0 12px 0 0;
}

.events-datepicker-label {
  white-space: nowrap;
  display: inline-block;
  margin-right: 10px;
}

.week-view, .agenda-view {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 5px;
}

.week-view-action, .agenda-view-action {
  width: 100%;
  border: 0;
  padding-bottom: 10px;
}

.week-view-action a, .agenda-view-action a {
  color: black;
}

.week-view-action-previous, .agenda-view-action-previous {
  text-align: left;
}

.week-view-action-next, .agenda-view-action-next {
  text-align: right;
}

.week-view-action-previous svg, 
.week-view-action-next svg,
.agenda-view-action-previous svg,
.agenda-view-action-next svg {
  margin: 0 10px;
}

.week-view-calendar, .agenda-day-row {
  border: 0;
  width: 100%;
  padding: 0;
}

.agenda-day-row {
  margin: 5px 0 15px 0;
}

.week-day {
  border: 1px solid #CBDCF7;
  line-height: 25px;
  vertical-align: top;
  aspect-ratio: 1 / 1;
  padding-bottom: 10px;
}

.agenda-day {
  width: 100%;
  line-height: 25px;
  vertical-align: top;
  padding-bottom: 10px;
}

.week-day-name {
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  padding: 0;
  height: 15px;
}

.agenda-day-name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  cursor: pointer;
  height: 15px;
  padding: 5px;
  background-color: lightgray;
  height: fit-content;
}

.week-day-number {
  font-size: 20px;
  text-align: center;
  margin: 5px auto;
  cursor: pointer;
  padding: 0;
}

.week-day-event,
.week-day-note,
.agenda-day-event,
.agenda-day-note {
  border-radius: 6px;
  padding: 0 5px;
  margin: 3px 0;
  cursor: pointer;
  font-size: 13px;
}

.agenda-day-event,
.agenda-day-note {
  max-width: 50%;
}

.week-day-event, .agenda-day-event {
  background-color: rgb(200, 225, 238);
}

.week-day-note, .agenda-day-note {
  background-color: rgb(254, 216, 0);
}

.week-day-note .note-text, 
.agenda-day-note .note-text {
  width: calc(100% - 20px);
  display: inline-flex;
}

.week-day-note .note-x, 
.agenda-day-note .note-x {
  width: 20px;
  text-align: right;
  float: right;
}

.week-day-event-inactive, 
.agenda-day-event-inactive {
  background-color: red;
}

.week-day-event-deleted, 
.agenda-day-event-deleted {
  color: white;
  background-color: rgb(100, 100, 100);
}

.week-day-event-hidden, 
.agenda-day-event-hidden {
  background-color: orange;
}

.week-day-event-cancelled, 
.agenda-day-event-cancelled {
  background-color: rgb(0, 128, 255);
}

.week-day-event-taskscomplete,
.agenda-day-event-taskscomplete {
  color: rgb(255, 255, 255);
  text-decoration: line-through;
  background-color: green;
}

.expanded-event-row {
  border: 2px solid black;
  width: 100%;
  min-height: 250px;
  padding: 10px;
}

.agenda-view .expanded-event-row {
  margin-left: 0;
}

.update-tasks-button {
  padding: 0 3px;
  margin: 5px 5px 5px 0;
}

.expand-edit-notes, .expand-edit-doors {
  text-align: left;
}

.expand-edit-notes button {
  padding: 0 3px;
  margin: 0 5px;
}

.expand-edit-event {
  text-align: right;
  padding: 0;
}

.expand-edit-event button, .expand-edit-doors-data button {
  padding: 0 3px;
  margin: 0 2px;
}

.note-created {
  font-size: 0.75em;
  font-style: italic;
  color: orange;
  margin: 0 5px;
}

.modal-notes-footer button {
  margin: 0 0 0 10px;
}

/* MOBILE CSS */

.mobile-event-card-container {
  width: 100%;
  margin: 0;
  border: 0;
}

.mobile-event-card-container td {
  border: unset;
  width: 100%;
  text-align: center;
}

.mobile-event-card {
  text-align: left;
  margin: 0;
  border: 2px solid gray;
  padding: 15px;
}

.mobile-event-card .row {
  padding: 5px;
}

.mobile-event-card .ticket-type {
  margin-bottom: 10px;
}

.mobile-event-card button {
  margin: 5px 25px 5px 0;
}

.mobile-bold {
  font-weight: bold;
}

.search-text-input {
  max-width: 360px;
  margin: 15px 0 0 0;
}

.attendee,
.attendee-check,
.attendee-check-highlight,
.attendee-highlight {
  font-weight: bold;
}

.attendee,
.attendee-highlight {
  margin: 0 0 5px 0;
}

.attendee-check,
.attendee-check-highlight {
  margin: 0 0 10px 0;
}

.attendee-check-highlight,
.attendee-highlight {
  text-shadow: 1px 0 1px yellowgreen;
}

.attendee-check,
.attendee-check-highlight {
  cursor: pointer;
}

.check-out-show {
  display: inline-block;
  color: rgb(20, 166, 20);
  margin: 0 5px 0 0;
}

.check-in-show {
  display: inline-block;
  color: red;
  margin: 0 5px 0 0;
}

.check-out-hide,
.check-in-hide {
  display: none;
}

.admin-container {
  padding: 0;
  width: 100%;
}

.admin-container h1,
.admin-container h2,
.admin-container h3 {
  font-family: 'Impact', 'Carrois Gothic SC', sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #d90617;
}

.admin-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.admin-container li {
  margin: 15px 0;
}

.admin-container .admin-link {
  text-decoration: underline;
  cursor: pointer;
}

.admin-container .form-check {
  margin: 10px 0;
}

.admin-container button {
  margin-right: 5px;
}

.admin-container .admin-inactive {
  color: red;
}

.admin-container .admin-select {
  margin: 5px 0;
}

.admin-container .admin-button-group {
  margin: 10px 0;
}

.admin-report-datepicker-label,
.admin-seller-select-label {
  width: 100px;
  margin: 15px 0;
  display: inline-block;
}

.admin-click-cell {
  cursor: pointer;
}

.dashboard-widget-table {
  margin: 0 0 15px 0;
}

.title-date-range {
  margin: 0 15px;
}

.dashboard-export-button {
  margin-left: 15px;
}

.align-right {
  text-align: right !important;
}

.dashboard-sales-table {
  margin: 0 0 0 10px;
}

.sales-stat-block {
  width: 100%;
  height: 100%;
  min-height: 345px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 15px;
  line-height: 2em;
  font-size: 12px;
  display: inline-block;
}

.sales-stat-block-table {
  width: 100%;
  height: 100%;
  min-height: 345px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 15px;
  line-height: 2em;
  font-size: 12px;
  display: inline-block;
  margin-left: -10px;
}

.sales-stat-block-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.sales-stat-block-title-no-margin {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.sales-stat-block-subtitle {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 0 0;
}

.sales-stat-block-subtitle-no-margin {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.sales-stat-block-name,
.sales-stat-block-name-tooltip {
  text-align: left;
  white-space: nowrap;
}

.sales-stat-block-name-tooltip {
  cursor: pointer;
}

.sales-stat-block-value {
  text-align: right;
}

.average-sales-data-table {
  width: 95%;
}

.revenue-widget-progress {
  max-width: 200px;
  margin: 25px auto;
}

.revenue-widget-caption {
  margin-top: 5px;
  text-align: center;
}

.refresh-results-header {
  margin: 25px 0 25px 0;
}

.refresh-results-header-col {
  margin: 0;
}

.admin-event-info {
  margin: 10px 0;
}

.form-header {
  margin: 10px 0;
}

.form-header span {
  display: inline-block;
  margin: 5px 0;
}

.form-header .title {
  font-weight: bold;
  white-space: nowrap;
  width: 300px;
}

.form-control-float {
  float: left;
  margin-right: 10px !important;
}

.refund-section-header {
  margin: 5px 0 5px -10px;
}

.refund-section {
  margin: 5px 0 15px -10px;
}

.confirmation-dialog {
  min-width: 33%;
  max-width: 100%;
}

.confirmation-dialog p {
  width: 100%;
  margin: 10px 0;
}

.confirmation-dialog-buttons,
.confirmation-dialog-sure {
  width: 100%;
  text-align: center;
}

.confirmation-dialog-buttons button {
  margin: 0 10px;
}

.ticket-type-table {
  margin: 15px 0;
  border: 1px solid black;
}

.ticket-type-table td {
  padding-right: 10px;
  border: 1px solid black;
  padding: 5px;
}

.ticket-table {
  margin: 15px 0;
  border: 1px solid black;
}

.ticket-table td,
.ticket-table th {
  border: 1px solid black;
  padding: 10px;
}

.deleted .rs-table-cell {
  color: white;
  background-color: rgb(100, 100, 100) !important;
  font-weight: bold;
}

.highlighted .rs-table-cell {
  background-color: lightgray !important;
  font-weight: bold;
}

.inactive .rs-table-cell {
  color: red !important;
  font-weight: bold;
}

.cancelled .rs-table-cell {
  color: rgb(0, 128, 255) !important;
  font-weight: bold;
}

.hidden .rs-table-cell {
  color: orange !important;
  font-weight: bold;
}

.refunded .rs-table-cell {
  color: blueviolet !important;
  font-weight: bold;
}

.comped .rs-table-cell {
  color: indigo !important;
  font-weight: bold;
}

.week-day-event-alert, .agenda-day-event-alert {
  margin: 1px 5px 4px 3px;
  color: #CF142B;
  font-size: 1.2em;
}

/* MOBILE QUERIES */
/* Bootstrap xxl */
@media (max-width: 1400px) {
  .sales-stat-block {
    padding: 10px;
  }
}

/* Bootstrap xl */
@media (max-width: 1200px) {
  .stat-block-container {
    min-height: 300px;
    min-width: 200px;
  }

  .stat-block {
    font-size: 13px;
  }

  .sales-stat-block {
    width: 100%;
    font-size: 12px;
  }

  .refresh-results-header-col {
    margin-bottom: 25px;
  }
}

/* Bootstrap lg */
@media (max-width: 992px) {
  .command-column {
    display: none;
  }

  .inactive-check,
  .deleted-check,
  .hidden-check,
  .revenue-check,
  .service-fees-check {
    margin-bottom: 15px;
  }

  .admin-button {
    width: 150px;
    margin-top: 0;
  }

  .vipTable .email {
    word-break: break-all;
  }

  .purchase-date {
    display: none;
  }

  .sales-stat-block {
    padding: 5px;
    font-size: 10px;
  }
}

/* custom desktop/tablet width */
@media (max-width: 867px) {
  .control-container .date-range-title {
    display: none;
  }
}

/* Bootstrap md */
@media (max-width: 768px) {
  .wrapper {
    width: 368px;
  }

  .resultsTable,
  .widget-row {
    max-width: 100%;
  }

  .resultsTable th,
  .resultsTable td {
    padding: 2px;
  }

  .stat-block {
    font-size: 12px;
  }

  .stat-block-container {
    min-height: unset;
    height: fit-content;
  }

  .sales-stat-block {
    height: fit-content;
    min-height: unset;
  }

  .refresh-results-header {
    font-size: 12px;
  }

  .vipDetailsTable {
    margin: 0;
  }

  .agenda-day-event,
  .agenda-day-note {
    max-width: 360px;
  }
}

/* Bootstrap sm */
@media (max-width: 576px) {
  .nav-bar {
    padding: 0;
  }

  .vipContainer {
    padding: 10px;
  }

  .vipDetailsTable {
    max-width: 100%;
    margin: 10px 0;
  }

  .results-container {
    margin: 0;
    padding: 10px;
  }

  .no-mobile {
    display: none;
  }

  .stat-block-container {
    padding: 10px;
    min-height: 150px;
    min-width: 150px;
  }

  .stat-block {
    padding: 10px;
    font-size: 10px;
  }

  .control-container {
    text-align: unset;
    padding: 0;
    margin-right: 0;
  }

  .control-container .action-button {
    margin-right: 5px;
  }

  .admin-seller-row .col {
    padding: 0;
  }

  .admin-seller-row .seller-title {
    margin: 0 5px;
  }

  .admin-check-row .col-sm-12 {
    padding: 0 5px;
  }

  .admin-button-row {
    margin: 0;
  }

  .admin-button-row .col-sm-12 {
    padding: 0 5px;
  }

  .admin-button-row button {
    font-size: 0.8rem;
    margin-left: 0;
  }

  .stat-block-container {
    padding-left: 5px;
  }

  .results-container {
    padding-left: 5px;
  }

  .results-col {
    padding: 0;
  }

  .vipTable-container {
    padding: 0 15px 0 5px;
  }

  .resultsTable {
    margin: 0;
  }

  .vipTable {
    margin: 0 5px;
  }

  .inactive-check,
  .deleted-check,
  .hidden-check,
  .revenue-check,
  .service-fees-check {
    margin: 0 20px 15px 0;
  }

  .resultsTable,
  .resultsTable tbody,
  .resultsTable th,
  .resultsTable td,
  .vipTable,
  .vipTable tbody,
  .vipTable th,
  .vipTable td {
    border: unset;
  }

  .resultsTable th,
  .resultsTable td,
  .vipTable th,
  .vipTable td {
    padding: 5px 0;
  }

  .resultsTable tr:nth-child(even),
  .vipTable tr:nth-child(even) {
    background-color: unset;
  }

  .mobile-event-card {
    padding: 5px;
  }

  .resultsTable tr:hover,
  .vipTable tr:hover {
    background-color: unset;
  }

  .resultsTable .mobile-event-card-container:nth-child(even),
  .vipTable .mobile-event-card-container:nth-child(even) {
    .mobile-event-card {
      background-color: #efefef !important;
    }
  }

  .vipDetailsTable td {
    white-space: unset;
  }

  .vipDetailsTable .vipLabel {
    white-space: nowrap;
  }

  .refresh-results-header {
    font-size: 10px;
  }
}

/* custom mobile width */
@media (max-width: 435px) {
  .no-mobile {
    display: none;
  }

  .control-container {
    text-align: unset;
  }

  .resultsCol {
    padding: 0;
  }
}

@media print {
  .no-print,
  .rs-nav-item,
  .rs-nav-bar {
    display: none !important;
  }

  .vipContainer {
    padding: 5px;
  }

  .vipDetailsTable {
    margin: 10px 5px;
  }

  .attendee,
  .attendee-check,
  .attendee-check-highlight,
  .attendee-highlight {
    font-weight: normal;
  }

  .attendee-highlight,
  .attendee-check-highlight {
    text-shadow: unset;
    cursor: unset;
    margin: 0 0 5px 0;
  }

  .check-out-show,
  .check-in-show {
    display: none;
  }
}
